.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ff0000;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lists-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}

.list {
  flex: 1;
  margin: 0 10px;
}

.forms-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.form {
  flex: 1;
  margin: 0 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  list-style: none;
  margin: 0 5px;
}

.page-link {
  padding: 10px 15px;
  font-size: 1.2rem;
  background-color: #ff0000;
  color: #000;
  border: 1px solid #ff0000;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
  background-color: #cc0000;
  color: #fff;
  cursor: pointer;
}

button {
  background-color: #ff0000;
  color: #000;
  padding: 10px 20px;
  border: 2px solid #ff0000;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #cc0000;
  color: #fff;
  cursor: pointer;
}

.error-message {
  background-color: #ff0000;
  color: #000;
  padding: 10px;
  border: 2px solid #cc0000;
  border-radius: 5px;
  margin: 20px 0;
}
