<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=DESKTOP-KKCEHOF\SQLEXPRESS;Database=UFC_database;Trusted_Connection=true"/>
	</connectionStrings>
	<appSettings>
		<add key="Database" value UFC_database"/>
		
		<add key="ParentTableName" value="Event"/><add key="ChildTableName" value ="Match"/><add key="ParentReferencedKey" value="Eid"/><add key="ChildForeignKey" value="Eid"/>

		<!--<add key="ParentTableName" value="Event"/><add key="ChildTableName" value ="Match"/><add key="ParentReferencedKey" value="Eid"/><add key="ChildForeignKey" value="Eid"/>-->
	</appSettings>
</configuration>